language: node_js
dist: trusty
addons:
  apt:
    packages:
    # This is required to run new chrome on old trusty
    - libnss3
cache:
  directories:
  - node_modules
node_js:
- 12
# allow headful tests
before_install:
- "export DISPLAY=:99.0"
- "sh -e /etc/init.d/xvfb start"
- sleep 3 # give xvfb some time to start

install:
- npm install
script:
- npm run lint
- npm run build
- NODE_ENV=production npm test
