@mixin header () {
  background: $gray-lightest;
  height: 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 $spacer;
  font-weight: 500;
}
@mixin footer() {
  background: $gray-lightest;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $spacer;
  font-weight: 500;
  border-top: 1px solid $gray-light;
}
