@import "variables";
@import "buttons";
@import "typography";
@import "transitions";
@import "animations";
@import "github-gist.css";
@import "mixins";

//reset

html {
  max-height: 500px;
}

body {
  margin: 0;
  font-size: 100%;
  color: $gray-dark;
  width: 350px;
  max-height: 500px;
}

a {
  text-decoration: none;
  color: $brand-primary;
}

h1, h2, h3, h4 {
  margin-top: 0;
}
