name: Lint & Build & Test

on:
  push:
    branches: [ master ]
  pull_request:
    types: [ opened, synchronize ]

jobs:
  dependencies:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: npm install
    - uses: actions/cache@v1
      id: cache-dependencies
      with:
        path: '.'
        key: ${{ github.sha }}

  lint-build:
    runs-on: ubuntu-latest
    needs: dependencies
    steps:
      - uses: actions/cache@v1
        id: restore-dependencies
        with:
          path: '.'
          key: ${{ github.sha }}
      - run: npm run lint
      - run: npm run build

  test:
    runs-on: ubuntu-latest
    needs: dependencies
    steps:
      - uses: actions/cache@v1
        id: restore-dependencies
        with:
          path: '.'
          key: ${{ github.sha }}
      - uses: mujo-code/puppeteer-headful@master
        env:
          CI: 'true'
        run: NODE_ENV=production npm test